.formulario{
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
}

.form label{
    font-size: 1.5rem;
}

.form--input{
    margin-bottom: 1rem;
    width: 14rem;
    height: auto;
    font-size: 1.3rem;
    
}

.form--select{
    font-size: 1.3rem;
}

.form--buton{
    margin: 1rem 0rem;
}


.form--buton input{
    height: 27px;
    width: 9rem;
    font-size: 1.2rem;
    box-shadow: 2px 2px 5px #242424;
    border-radius: 4px;
}

.form--buton input:hover{
    background-color: #2B2B2B;
    color: #ededed;
    cursor: pointer;
}